/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E0E1DD;
    color: #1B263B;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header .header_elements {
    background-color: #415A77;
    color: #E0E1DD;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    /* border-radius: 44px; */
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #E0E1DD;
    transition: color 0.3s;
}

nav a:hover {
    color: #778DA9;
}

/* Main Content Styles */
main {
    padding: 20px;
}

h2 {
    color: #415A77;
}

/* Section Styles */
section {
    background-color: #778DA9;
    color: #E0E1DD;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
}

section h3 {
    color: #1B263B;
}

/* Footer Styles */
footer {
    background-color: #1B263B;
    color: #E0E1DD;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

/* Review Article Styles */
.review {
    background-color: #0D1B2A;
    color: #E0E1DD;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.teacher-name {
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav {
        margin-top: 10px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav li {
        margin: 5px 0;
    }
}
